body {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #1D1F21;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display:inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #5E646A;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #5E646A;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

div.center{
  margin: 0 auto;
}

ul.posts {
    margin: 0 auto;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img.githubLink {
  width: 25px;
  height: 25px;
  background: url('/img/GitHub.png') bottom;
  background-size: 25px 25px;
}

img.githubLink:hover{
  width: 25px;
  height: 25px;
  background: url('/img/GitHub-Over.png') bottom;
  background-size: 25px 25px;

}

img.emailLink{
  width: 25px;
  height: 25px;
  background: url('/img/mail.png') bottom;
  background-size: 25px 25px;
}

img.emailLink:hover{
  width: 25px;
  height: 25px;
  background: url('/img/mail-over.png') bottom;
  background-size: 25px 25px;
}
